@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --color-bg: #FFF6D2;
    --color-txt: #E9993E;
    --color-txt-secondary: #10454F;
}

body{
    background-color: var(--color-bg);
}
@media (max-width: 768px) {

    header {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-bg);
        color: var(--color-txt);
        padding: 2.5vw;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo-visa {
        display: none;
    }

    #language {
        font-size: 3vw;
        font-family: 'Sintony', sans-serif;
        border-radius: 4vw;
        background-color: var(--color-txt);
        color: var(--color-bg);
        padding: 1.5vw 2vw;
        display: inline-block;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /*Burger menu*/
    .right-header {
        display: flex;
        margin-right: -30vw;
        gap: 2vw;
    }

    .burger {
        display: flex;
        width: 7vw;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;
    }

    .burger img {
        width: 7vw;
    }

    .right-header a {
        text-decoration: none;
    }

    .language {
        display: none;
    }



    .header-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        font-family: 'Sintony', sans-serif;
        text-align: left;
        right: 0;
        top: 100%;
        background-color: var(--color-txt);
        border-radius: 2vw;
        z-index: 1000;
    }

    .header-nav a {
        padding: 10px 20px;
        /* Un poco de espacio alrededor de los enlaces */
        text-decoration: none;
        color: var(--color-bg);
        /* Color del texto de los enlaces */
    }

    .header-nav a.language {
        display: none !important;
    }

    /*Contenido Principal*/

    .ft-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: var(--color-bg);
        width: 100%;
    }

    .floating-button {
        display: none;
    }

    .card-image img {
        width: 80vw;
        height: auto;
        object-fit: cover;
        margin-top: 2vw;
    }

    .bienvenido-web {
        display: none;
    }

    .bienvenido-movil {
        display: flex;
        justify-content: center;
        width: 80vw;
        height: auto;
        object-fit: cover;
        margin-left: 8%;
    }

    .index-p-web {
        display: none;
    }

    .index-p-movil {
        display: flex;
        text-align: center;
        font-family: 'Staatliches', sans-serif;
        font-size: 10vw;
        line-height: 95%;
        color: var(--color-txt-secondary);
        margin-bottom: 1.2rem;

    }

    .join-movil {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Sintony', sans-serif;
        font-size: 8vw;
        background-color: var(--color-txt-secondary);
        border: 3px solid var(--color-txt);
        padding: 3vw;
        border-radius: 10vw;
        color: var(--color-bg);
        margin: 20vw 0;
        cursor: pointer;

    }

    .join-movil :hover {
        background-color: var(--color-txt);
        border: 3px solid var(--color-txt-secondary);

    }
}